{% extends "_base.html" %}

{% block title %}
    My Profile
{% endblock title %}

{% block content %}
    <h3>My Profile ID : {{ profile.id }}</h3>
    <hr/>
    <h3>My Comments :</h3>
    <ul>
        {% for comment in profile.get_comments %}
            <li><a href="{% url 'profile_comment_detail' user.profile.id comment.channel.id comment.pk %}">{{ comment.id }}</a> => {{ comment.title }}</li>
        {% endfor %}
    </ul>
    <hr/>
    <h3>My Channels :</h3>
    <ul>
        {% for channel in profile.get_channels %}
            <li><a href="{% url 'profile_channel_detail' user.profile.id channel.pk %}">{{ channel.id }}</a> => {{ channel.title }} => {{ channel.description }}</li>
        {% endfor %}
    </ul>
    <hr/>
    <h3>Create new <a href="{% url 'profile_channel_new' user.profile.id %}">Channel</a> !!</h3>
    <hr/>
    <h3>My Liked Episodes :</h3>
    <ul>
        {% for like in profile.get_likes %}
            <li>{{ like.id }} => {{ like.channel }} => {{ like.episode }} ===> <a href="{% url 'episode_detail' like.channel.id like.episode.pk %}">Go</a> to this episode page !!</li>
        {% endfor %}
    </ul>
    <hr/>
    <h3>My Followed Channels :</h3>
    <ul>
        {% for follow in profile.get_follows %}
            <li>{{ follow.id }} => {{ follow.channel }} ===> <a href="{% url 'channel_detail' follow.channel.id %}">Go</a> to this channel page !!</li>
        {% endfor %}
    </ul>
    <hr/>
    <h3>My Mention Messages :</h3>
    <ul>
        {% for mention in profile.get_mentions %}
            <li>{{ mention.id }} => {{ mention.message }}</li>
        {% endfor %}
    </ul>
    <hr/>
    <h3>My Playlists :</h3>
    <ul>
        {% for playlist in profile.get_playlists %}
            <li><a href="{% url 'profile_playlist_detail' user.profile.id playlist.pk %}">{{ playlist.id }}</a> => {{ playlist.title }}</li>
        {% endfor %}
    </ul>
    <hr/>
    <h3>Create new <a href="{% url 'profile_playlist_new' user.profile.id %}">Playlist</a> !!</h3>
{% endblock content %}
