{% extends "_base.html" %}

{% block title %}
    Profile-Episode-Details
{% endblock title %}

{% block content %}
    <div>
        <h2>episode_id : {{ episode.id }}</h2>
        <h2>episode_title : {{ episode.title }}</h2>
        <h2>episode_description : {{ episode.description }}</h2>
        <h2>episode_owner : {{ episode.owner }}</h2>
    </div>
    <hr/>
    <h2><a href="{% url 'profile_episode_edit' episode.channel.id episode.pk %}">Update</a> this episode !!</h2>
    <h2><a href="">Delete</a> this episode !!</h2>
{% endblock content %}
