{% extends "_base.html" %}

{% block title %}
    Profile-Channel-Detail
{% endblock title %}

{% block content %}
    <div>
        <h2>channel_id : {{ channel.id }}</h2>
        <h2>channel_title : {{ channel.title }}</h2>
        <h2>channel_description : {{ channel.description }}</h2>
        <h2>channel_owner : {{ channel.owner }}</h2>
    </div>
    <hr/>
    <h2><a href="{% url 'profile_channel_edit' user.profile.id channel.id %}">Update</a> this channel !!</h2>
    <h2><a href="{% url 'profile_channel_delete' user.profile.id channel.id %}">Delete</a> this channel !!</h2>
    <hr/>
    <h2>channel_comments :</h2>
    {% for comment in channel.comments.all %}
        <div>
            <h3>{{ comment.id }} => {{ comment.title }} => {{ comment.description }} => {{ comment.author }}</h3>
        </div>
    {% endfor %}
    <hr/>
    <h2>channel_episodes :</h2>
    {% for episode in channel.episodes.all %}
        <div>
            <h3><a href="{% url 'profile_episode_detail' user.profile.id channel.id episode.pk %}">{{ episode.id }}</a> => {{ episode.title }} => {{ episode.description }}</h3>
        </div>
    {% endfor %}
    <h2>Create a new <a href="{% url 'profile_episode_new' user.profile.id channel.id %}">episode</a> for this channel !!</h2>
{% endblock content %}
