{% extends "_base.html" %}

{% block title %}
    Profile-Playlist-Detail
{% endblock title %}

{% block content %}
    <h3><a href="{% url 'profile' user.profile.id %}">Back</a> to profile page !!</h3>
    <hr/>
    <div>
        <h2>playlist_id : {{ playlist.id }}</h2>
        <h2>playlist_title : {{ playlist.title }}</h2>
        <h2>playlist_user : {{ playlist.user }}</h2>
    </div>
    <hr/>
    <h2><a href="{% url 'profile_playlist_edit' user.profile.id playlist.id %}">Update</a> this playlist title !!</h2>
    <h2><a href="{% url 'profile_playlist_delete' user.profile.id playlist.id %}">Delete</a> this playlist !!</h2>
    <hr/>
    <h2>playlist_episodes :</h2>
    {% for episode in playlist.episode.all %}
        <div>
            <h3>{{ episode.id }} => {{ episode.title }} => <a href="{% url 'profile_playlist_episode_delete' user.profile.id playlist.id episode.id %}">Remove</a> this episode from playlist !!</h3>
            <h3><a href="{% url 'episode_play' episode.channel.id episode.id %}">Play</a> this Episode !!</h3>
        </div>
    {% endfor %}
{% endblock content %}
