{% extends "_base.html" %}

{% block title %}
    Channel-Detail
{% endblock title %}

{% block content %}
    <h3><a href="{% url 'channel_list' %}">Back</a> to channel-list page !!</h3>
    <hr/>
    <div>
        <h2>channel_id : {{ channel.id }}</h2>
        <h2>channel_title : {{ channel.title }}</h2>
        <h2>channel_description : {{ channel.description }}</h2>
        <h2>channel_owner : {{ channel.owner }}</h2>
    </div>
    <hr/>
    <h2>channel_comments :</h2>
    {% for comment in channel.comments.all %}
        <div>
            <h3>{{ comment.id }} => {{ comment.title }} => {{ comment.description }} => {{ comment.author }}</h3>
        </div>
    {% endfor %}
    <h2>Write a new <a href="{% url 'comment_new' channel.id %}">comment</a> for this channel !!</h2>
    <hr/>
    <h2>channel_episodes :</h2>
    {% for episode in channel.episodes.all %}
        <div>
            <h3><a href="{% url 'episode_detail' channel.id episode.pk %}">{{ episode.id }}</a> => {{ episode.title }} => {{ episode.description }}</h3>
        </div>
    {% endfor %}
{% endblock content %}
