{% extends "_base.html" %}

{% block title %}
    Channel-Details
{% endblock title %}

{% block content %}
    <div>
        <h2>id : {{ channel.id }}</h2>
        <h2>title : {{ channel.title }}</h2>
        <h2>description : {{ channel.description }}</h2>
        <h2>owner : {{ channel.owner }}</h2>
    </div>
    <hr/>
    <h2>comments :</h2>
    {% for comment in channel.comments.all %}
        <div>
            <h3><a href="">{{ comment.id }}</a> => {{ comment.title }} => {{ comment.description }}</h3>
        </div>
    {% endfor %}
    <hr/>
    <h2>episodes :</h2>
    {% for episode in channel.episodes.all %}
        <div>
            <h3><a href="">{{ episode.id }}</a> => {{ episode.title }} => {{ episode.description }}</h3>
        </div>
    {% endfor %}
{% endblock content %}
