{% extends "_base.html" %}

{% block title %}
    Episode-Detail
{% endblock title %}

{% block content %}
    <h3><a href="{% url 'channel_detail' episode.channel.pk %}">Back</a> to channel-detail page !!</h3>
    <hr/>
    <div>
        <h2>episode_id : {{ episode.id }}</h2>
        <h2>episode_title : {{ episode.title }}</h2>
        <h2>episode_description : {{ episode.description }}</h2>
        <h2>episode_owner : {{ episode.owner }}</h2>
    </div>
    <hr/>
    <form action="{% url 'episode_like' episode.channel.id episode.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Like this Episode</button>
    </form>
    <br/>
    <form action="{% url 'episode_unlike' episode.channel.id episode.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Unlike this Episode</button>
    </form>
    <h3>Total number of likes for this episode : {{ episode.likes.count }}</h3>
    <hr/>
    <form action="{% url 'episode_select_playlist' episode.channel.id episode.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add this Episode to Playlist</button>
    </form>
{% endblock content %}
