<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% endblock title %}
    </title>
  </head>
  <body>
    <div>
      <h3><a href="{% url 'home' %}">Home</a></h3>
      {% if user.is_superuser %}
        <h3>View System <a href="{% url 'log_list' %}">Logs</a> !!</h3>
      {% endif %}
      {% if user.is_authenticated %}
        <h3>Hello <a href="{% url 'profile' user.profile.id %}">{{user.username}}</a> !!</h3>
        <h3><a href="{% url 'logout' %}">Log out</a></h3>
      {% else %}
        <h3><a href="{% url 'login' %}">Log in</a></h3>
        <h3><a href="{% url 'signup' %}">Sign up</a></h3>
      {% endif %}
    </div>
    <hr/><hr/>
    <div>
        {% block content %} 
        {% endblock content %}
    </div>
  </body>
</html>
